*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 85vh;
    margin-left: 15px;
}
aside a{
    font-size: 50px;
    margin: 20px;
}
header{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #nav-bar{
    font-size: 35px;
    
}
header #nav-bar span{
    margin: 30px;
    cursor: pointer;
}
#logo img{
    width: 100px;
    height: 100px;
}
main{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button, .form-content input[type="submit"]{
    font-size: 20px;
    font-weight: 700;
    margin: 15px;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    color: gray;
}

.expandable{
    width: 90vw;
    margin: 10px auto;
}
.expandable--open .expandable--content{
    display: block;
}
.expandable--title{
    font-size: 20px;
    background-color: azure;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    display: flex;

    justify-content: space-between;
    align-items: center;

}
.expandable--content{
    padding: 15px;
    border-bottom: solid 5px black;
    border-left: solid 5px black;
    border-right: solid 5px black;
    border-radius: 0 0 10px 10px;
    display: none;
}

.form-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
}
.form-content label{
    font-size: 30px;
}
.form-content form{
    display: flex;
    flex-direction: column; 
}
.form-content input[type="text"], .form-content input[type="password"]{
    margin: 2vh;
    padding: 13px;
    font-size: 16px;
    width: 100%;
    border-radius: 30px; 
}
.form-content input[type="file"]{
    margin: 2vh;
}
.form-content input[type="radio"]{
    width: 1.2em;
    vertical-align: middle;
    height: 1.2em;
    margin: 2vh;
    font-size: 15px;
}

