{% extends "layout.html" %}
{% block content %}
<div class="form-content">
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.hive_number.label }}
        {{ form.hive_number }}

        {{ form.temperament.label }}
        {{ form.temperament }}
        <div id="hive">
                <div class="frame">
                    <label>Quadro 1</label>
                    <input type="file" name=frames-1-image accept="image/*" ></input>
                </div>
        </div>
        <button type="button" id="add_frame">+</button>

        {{form.submit()}}
    </form>
</div>

{% endblock content %}