{% extends "layout.html" %}
{% block content %}
<div class="form-content">
    <form action="/analysis" method="POST">
        <label>
            How calm and manageable is the colony when inspected?
            (1 = Aggressive, 5 = Very gentle)
        <div>
            {% for i in range(1, 6) %}
                {{ i }}
                <input type="radio" name="Temperament" value="{{ i }}">
            </label>
            
            {% endfor %}
        </div>
        </label>
        <label>
            Take a photo of the brood combs, in good lighting and without bees on them.<br>
            <input type="file" name="img" accept="image/*">
        </label>
        <label>
            Honey Production
            <input type="text" name="HoneyProduction">
        </label>
        <label>
            queen's age
            <input type="text" name="queen's age">
        </label>
        
        <button type="submit">ADD</button>
    </form>
</div>

{% endblock content %}