<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen Breeder</title>
</head>

<body>
    <header>
        <div id="logo">
        </div>
        <div id="nav-bar">
        </div>
    </header>
    <main>
        <div id="content">
            <h1>genetic analysis of your apiary</h1>
            <h2>yffjfg fjvjyvhhaf rsgfgrsd sfg</h2>
            <button>login</button>
            <button>tutorial</button>
        </div>

    </main>

</body>

</html>