<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen Breeder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    
</head>
<body>
    <header>
        <div id="logo">
            <img src="{{ url_for('static', filename='assets/img/Untitled.jpg') }}">
        </div>
        <div id="nav-bar">
            <a href="{{ url_for('listHives') }}"><span>My Hives</span></a>
            <span>About</span>
            <a href="{{ url_for('home') }}"><span>My account</span></a>
        </div>
    </header>
    {% block content %}
    {% endblock content %}

</body>
</html>