<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen Breeder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    
</head>
<body>
    <header>
        <div id="logo">
            <img src="{{ url_for('static', filename='assets/img/Untitled.jpg') }}">
        </div>
        <div id="nav-bar">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}"><span>logout</span></a>
            <a href="{{ url_for('home') }}"><span>Colmeias</span></a>
            <a href="{{ url_for('account') }}"><span>Conta</span></a>
            {% else %}
            

            <span>Sobre</span>
            <a href="{{ url_for('Login') }}"><span>Entrar</span></a>
            <a href="{{ url_for('Registration') }}"><span>Registrar</span></a>

            {% endif %}
        </div>
    </header>
    {% block content %}
    {% endblock content %}

</body>
</html>