<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen Breeder</title>
    <link rel="stylesheet" href="style2.css">
    <script src="index.js" defer></script>
</head>

<body>
    <div class="expandable">
        <div class="expandable--title">
            <h2>eggs analysis</h2>
            <span>t</span>
        </div>

        <div class="expandable--content">
            <div class="socorro">
                <p>dsjfklsdfjsldfjlsdfjlsdfkl</p>
            </div>
            
        </div>
    </div>
    <p>dsd</p>

</body>

</html>
