{% extends "layout.html" %}
{% block content %}
<div class="form-content">
    <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label() }}
        {{ form.username() }}
        {% for error in form.username.errors %}
            <div>{{ error }}</div>
        {% endfor %}
    </div>
    <div>
        {{ form.email.label() }}
        {{ form.email() }}
    </div>
    <div>
        {{ form.password.label() }}
        {{ form.password() }}
    </div>
    {{form.submit()}}
    </form>
</div>

{% endblock content %}